<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>A review</title>
</head>

<body>

	<header th:each="review: ${reviews}">
		<h1 th:text="${review.title}"/>
	</header>

	<div th:each="review: ${reviews}">
		<img th:src="${review.imageURL}"/>
		<h2>Content</h2>
			<ol>
				<li th:text="${review.content}"/>
			</ol>
		<h2>Category</h2>
		<p th:text="${review.category}"/>
		<h2>Description</h2>
		<p th:text="${review.description}"/>
		<a href="http://localhost:8080/reviews">Back to home</a>
	</div>

</body>
</html>